@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
/* Fonts */
/* Fonts Media */
/* Colors geral */
/* Icons Colors */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

li {
  list-style: none;
}

.hideContent {
  display: none;
}

.showContent {
  display: block;
}

@keyframes bug {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: 4px;
    left: 4px;
  }
  40% {
    top: -4px;
    left: -4px;
  }
  60% {
    top: -4px;
    left: 4px;
  }
  80% {
    top: 4px;
    left: -4px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
@keyframes nameMove {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: 0.5px;
    left: 1.5px;
  }
  40% {
    top: -0.5px;
    left: -1.5px;
  }
  60% {
    top: -0.5px;
    left: 1.5px;
  }
  80% {
    top: 0.5px;
    left: -1.5px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
a {
  text-decoration: none;
}

.menu__icon {
  font-size: 1.5em;
  color: white;
}
.menu__icon .icon {
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}
@media (max-width: 425px) {
  .menu__icon .icon {
    font-size: 1.45em;
  }
}
.menu__options {
  color: white;
  font-weight: bolder;
  text-align: center;
}
.menu__options:hover {
  text-decoration: underline;
}

@media (max-width: 990px) {
  #navbar-items {
    border-top: 1px solid white;
  }
}
.start {
  padding-top: 98px;
  position: relative;
  height: 90vh;
  background-color: #333333;
  /* Formato de decoração no background. */
  /* Conteúdo dentro da parte superior. */
}
.start::before {
  content: "Scroll Down ▼ ";
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #1F1F1F;
  color: #3D3D3D;
  width: 100%;
  height: 100%;
  padding-bottom: 4.5vh;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  z-index: 0;
  clip-path: polygon(50% 0%, 100% 100%, 50% 100%, 0 100%, 0 0);
  transition: all 1s;
}
@media (max-width: 860px) {
  .start::before {
    clip-path: polygon(100% 0, 100% 27%, 58% 100%, 0 100%, 0 0);
  }
}
@media (max-width: 640px) {
  .start::before {
    clip-path: polygon(100% 0, 100% 27%, 69% 100%, 0 100%, 0 0);
  }
}
@media (max-width: 425px) {
  .start::before {
    clip-path: polygon(100% 0, 100% 27%, 100% 100%, 0 100%, 0 0);
    padding-bottom: 4vh;
  }
}
.start__info {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: auto auto;
  /* Título do Olá! */
}
@media (max-width: 425px) {
  .start__info {
    grid-template-columns: auto;
    place-items: center;
  }
}
.start__info__title {
  font-family: "Poppins", sans-serif;
  margin-left: 35px;
  margin-top: 10%;
  height: 150px;
  color: white;
  font-size: 2.45em;
  cursor: default;
  transition: all 1s;
  /* Container do nome com efeito Glitch. */
}
@media (max-width: 1024px) {
  .start__info__title {
    font-size: 1.5em;
  }
}
@media (max-width: 860px) {
  .start__info__title {
    font-size: 1.5em;
  }
}
@media (max-width: 640px) {
  .start__info__title {
    font-size: 1.4em;
    margin-left: 25px;
  }
}
@media (max-width: 425px) {
  .start__info__title {
    font-size: 1em;
    margin-left: 15px;
  }
}
.start__info__title__name {
  margin-bottom: 30px;
  position: relative;
  height: 65px;
  /* Nome aqui. */
  /* Duas animações, uma para a palavra e outro para as com efeito glitch. */
}
.start__info__title__name__glitch {
  font-size: 2em;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 3px;
  animation: nameMove 0.3s linear 2s 5 normal none;
  /* Load Ani */
  /* Cor e propriedades para animação glitch. */
  /* Ani Hover */
}
.start__info__title__name__glitch::before, .start__info__title__name__glitch::after {
  content: "LEVI";
  position: absolute;
  top: 0;
  left: 0;
  animation: bug 0.3s linear 2s 5 normal none;
}
.start__info__title__name__glitch::before {
  color: #e91e63;
  z-index: -2;
  animation-direction: normal;
}
.start__info__title__name__glitch::after {
  color: #2196f3;
  z-index: -1;
  animation-direction: reverse;
}
.start__info__title__name__glitch:hover {
  animation: nameMove 0.3s linear 2s infinite normal none;
}
.start__info__title__name__glitch:hover::before {
  color: #e91e63;
  z-index: -2;
  animation: bug 0.3s linear 2s infinite normal none;
}
.start__info__title__name__glitch:hover::after {
  color: #2196f3;
  z-index: -1;
  animation: bug 0.3s linear 2s infinite reverse none;
}
.start__info__icon {
  color: #1F1F1F;
  text-align: right;
  font-size: 13em;
  margin: 35px 35px 0px 0px;
  transition: all 1s;
}
@media (max-width: 1024px) {
  .start__info__icon {
    font-size: 10em;
    margin: 15px 15px 0px 0px;
  }
}
@media (max-width: 860px) {
  .start__info__icon {
    font-size: 7em;
    margin-top: 285px;
  }
}
@media (max-width: 640px) {
  .start__info__icon {
    font-size: 5em;
    margin-top: 320px;
    margin-right: 5px;
  }
}
@media (max-width: 425px) {
  .start__info__icon {
    margin-top: 15vh;
    color: white;
  }
}

.about {
  border-top: 1px solid #3D3D3D;
  background-color: #1F1F1F;
  padding: 35px 0;
}
.about__title {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  font-size: 3em;
  padding: 35px 0;
}
@media (max-width: 640px) {
  .about__title {
    font-size: 2.5em;
    padding-bottom: 10px;
  }
}
@media (max-width: 425px) {
  .about__title {
    font-size: 1.2em;
    padding-bottom: 10px;
  }
}
.about__text {
  color: white;
  text-indent: 5em;
  text-align: justify;
  line-height: 55px;
}
.about__text p {
  font-size: 1.3em;
}
@media (max-width: 860px) {
  .about__text p {
    font-size: 1.2em;
  }
}
@media (max-width: 640px) {
  .about__text {
    padding: 0 25px;
    text-indent: 3em;
    line-height: 2.5em;
  }
  .about__text p {
    font-size: 1.15em;
  }
}
@media (max-width: 425px) {
  .about__text {
    padding: 15px 35px;
  }
  .about__text p {
    font-size: 1;
    line-height: 40px;
  }
}

.knowledge {
  border-top: 1px solid #3D3D3D;
  background-image: url("../../img/repeatBack.png");
  padding: 35px 0;
}
.knowledge__title {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 3em;
  text-align: center;
  padding: 40px 0;
  transition: all 1s;
}
@media (max-width: 640px) {
  .knowledge__title {
    font-size: 2.5em;
  }
}
@media (max-width: 425px) {
  .knowledge__title {
    font-size: 1.2em;
  }
}
.knowledge__selector {
  padding: 25px;
  transition: all 1s;
}
.knowledge__selector__icons {
  font-size: 4.5em;
  transition: all 1s;
  padding: 15px;
  cursor: pointer;
  transition: all 1s;
}
@media (max-width: 1024px) {
  .knowledge__selector__icons {
    font-size: 3.5em;
  }
}
@media (max-width: 640px) {
  .knowledge__selector__icons {
    font-size: 3em;
  }
}
.knowledge__content__start {
  color: white;
  line-height: 2.3em;
  text-align: justify;
  padding: 0 35px;
  font-size: 1.15em;
}
.knowledge__content__start p {
  margin-bottom: 35px;
}
@media (max-width: 860px) {
  .knowledge__content__start p {
    font-size: 1.3em;
  }
}
@media (max-width: 640px) {
  .knowledge__content__start p {
    font-size: 1.15em;
  }
}
@media (max-width: 425px) {
  .knowledge__content__start p {
    font-size: 1;
  }
}
.knowledge__content__info__text {
  color: white;
  padding: 5px 15px;
  margin-bottom: 25px;
  text-align: justify;
  transition: all 1s;
  font-size: 1.3em;
}
@media (max-width: 860px) {
  .knowledge__content__info__text {
    font-size: 1.2em;
  }
}
@media (max-width: 640px) {
  .knowledge__content__info__text {
    font-size: 1.15em;
  }
}
@media (max-width: 425px) {
  .knowledge__content__info__text {
    font-size: 1;
  }
}
.knowledge__content__info__list {
  color: white;
  margin-left: 50px;
  transition: all 1s;
  font-size: 1.2em;
}
.knowledge__content__info__list li {
  list-style: none;
  margin-bottom: 1.1em;
}
.knowledge__content__info__list li::before {
  content: "•";
  display: inline-block;
  width: 1em;
}
@media (max-width: 860px) {
  .knowledge__content__info__list {
    font-size: 1.15em;
  }
}
@media (max-width: 640px) {
  .knowledge__content__info__list {
    font-size: 1.1em;
  }
}
@media (max-width: 425px) {
  .knowledge__content__info__list {
    font-size: 1;
  }
}

#html5Icon {
  color: #f16529;
  transition: all 0.8s;
  border: 1px solid transparent;
  border-radius: 15px;
}
#html5Icon:hover {
  border: 1px solid black;
  background-color: #f16529;
  color: white;
}

#css3Icon {
  color: #2965F1;
  transition: all 0.8s;
  border: 1px solid transparent;
  border-radius: 15px;
}
#css3Icon:hover {
  border: 1px solid black;
  background-color: #2965F1;
  color: white;
}

#jsIcon {
  color: #EFD81D;
  transition: all 0.8s;
  border: 1px solid transparent;
  border-radius: 15px;
}
#jsIcon:hover {
  border: 1px solid black;
  background-color: #EFD81D;
  color: white;
}

#sassIcon {
  color: #CF649A;
  transition: all 0.8s;
  border: 1px solid transparent;
  border-radius: 15px;
}
#sassIcon:hover {
  border: 1px solid black;
  background-color: #CF649A;
  color: white;
}

#reactIcon {
  color: #00D8FF;
  transition: all 0.8s;
  border: 1px solid transparent;
  border-radius: 15px;
}
#reactIcon:hover {
  border: 1px solid black;
  background-color: #00D8FF;
  color: white;
}

#gitIcon {
  color: #F03C2E;
  transition: all 0.8s;
  border: 1px solid transparent;
  border-radius: 15px;
}
#gitIcon:hover {
  border: 1px solid black;
  background-color: #F03C2E;
  color: white;
}

#tsIcon {
  fill: #3178C6;
  transition: all 0.8s;
  border: 1px solid transparent;
  border-radius: 15px;
  width: 1.5em;
  height: 1.5em;
}
@media (max-width: 1024px) {
  #tsIcon {
    width: 1em;
    height: 1em;
  }
}
#tsIcon:hover {
  border: 1px solid black;
  background-color: #3178C6;
  fill: white;
}

.projects {
  border-top: 1px solid #3D3D3D;
  padding-top: 55px;
  padding-bottom: 45px;
  padding-left: 20px;
  background-color: #333333;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-template-rows: auto;
  grid-auto-rows: 1fr;
  column-gap: 35px;
  row-gap: 25px;
  transition: all 1s;
}
@media (max-width: 1024px) {
  .projects {
    grid-template-columns: 48% 48%;
    column-gap: 25px;
    row-gap: 35px;
  }
}
@media (max-width: 860px) {
  .projects {
    grid-template-columns: 48%, 48%;
    column-gap: 0px;
  }
}
@media (max-width: 640px) {
  .projects {
    grid-template-columns: auto;
    row-gap: 55px;
    padding-left: 10px;
  }
}
@media (max-width: 425px) {
  .projects {
    grid-template-columns: auto;
    row-gap: 60px;
    padding-left: 5px;
  }
}
.projects__title {
  font-size: 2em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  padding-top: 25px;
  margin-bottom: 35px;
  grid-column: 1/4;
  transition: all 1s;
}
@media (max-width: 1024px) {
  .projects__title {
    grid-column: 1/3;
  }
}
@media (max-width: 860px) {
  .projects__title {
    grid-column: 1/3;
  }
}
@media (max-width: 640px) {
  .projects__title {
    grid-column: 1/2;
  }
}
@media (max-width: 425px) {
  .projects__title {
    grid-column: 1/1;
    font-size: 1.5em;
    margin-bottom: 15px;
  }
}
.projects__container {
  display: flex;
  flex-direction: column;
  transition: all 1s;
  outline: 1px solid black;
  border-radius: 15px;
}
@media (max-width: 1024px) {
  .projects__container {
    margin: 0 35px;
  }
}
@media (max-width: 860px) {
  .projects__container {
    margin: 0 15px;
  }
}
@media (max-width: 640px) {
  .projects__container {
    margin: 0 55px;
  }
}
@media (max-width: 425px) {
  .projects__container {
    margin: 0 15px;
  }
}
.projects__container__top {
  background-color: #1F1F1F;
  height: 80px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}
.projects__container__top__full i {
  color: #00D8FF;
  margin: 15px;
  font-size: 1.5em;
}
.projects__container__top__circle {
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 1s;
}
@media (max-width: 860px) {
  .projects__container__top__circle {
    top: 55%;
  }
}
@media (max-width: 425px) {
  .projects__container__top__circle {
    top: 55%;
  }
}
.projects__container__top__circle i {
  font-size: 3em;
  color: #2292A4;
  transition: all 1s;
}
@media (max-width: 860px) {
  .projects__container__top__circle i {
    font-size: 3em;
  }
}
@media (max-width: 425px) {
  .projects__container__top__circle i {
    font-size: 2.8em;
  }
}
.projects__container__top::after {
  content: "";
  background-color: #1F1F1F;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.projects__container__content {
  height: 100%;
}
.projects__container__content__title {
  margin-top: 65px;
  margin-bottom: 25px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.projects__container__content__text {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  box-sizing: border-box;
  padding: 15px;
  text-align: justify;
  text-indent: 2em;
  font-size: 0.8em;
  margin-bottom: 25px;
  transition: all 1s;
}
@media (max-width: 860px) {
  .projects__container__content__text {
    font-size: 0.75em;
    line-height: 1.8em;
  }
}
.projects__container__content__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.projects__container__content__buttons .site, .projects__container__content__buttons .git {
  background-color: #292929;
  border: 1px solid black;
  padding: 5px 10px;
  width: 130px;
  color: white;
  cursor: pointer;
  font-size: 0.8em;
}
.projects__container__content__buttons .site:hover, .projects__container__content__buttons .git:hover {
  background-color: #1F1F1F;
}
.projects__container__content__buttons .site {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.projects__container__content__buttons .git {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.projects__container__tools {
  background-color: #0A0A0A;
  padding: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.projects__container__tools p {
  font-style: italic;
  font-size: 0.75em;
  color: white;
}

/* Grandes Mentes */
.backgroundGM {
  background-image: url("../../img/maquiavel_background.jpg");
  background-size: cover;
}

.backgroundEmpty {
  background-image: url("../../img/backgroundEmpty.png");
  background-size: cover;
}

.textEmpty {
  background-color: transparent;
}

.buttonEmpty {
  display: none;
}

.footer {
  background-color: #000000;
}
.footer__copy {
  color: white;
  font-size: 1.8em;
  text-align: center;
  padding-top: 25px;
}
.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  padding: 25px 0;
}
.footer__links a {
  text-decoration: none;
  font-size: 1.5em;
}
.footer__links a i {
  font-size: 1.3em;
  color: white;
}
.footer__links a .github, .footer__links a .linkedin, .footer__links a .twitter {
  outline: 5px solid transparent;
  padding: 5px;
  transition: all 0.3s;
  box-sizing: border-box;
}
.footer__links a .github:hover, .footer__links a .linkedin:hover, .footer__links a .twitter:hover {
  outline: 1px solid #3D3D3D;
  border-radius: 5px;
}

/*# sourceMappingURL=app.css.map */
