*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
}

li{
    list-style: none;
}

.hideContent{
    display: none;
}

.showContent{
    display: block;
}

@keyframes bug {
    0%{
        top: 0;   
        left: 0;
    }
    20%{
        top: 4px;
        left: 4px;
    }
    40%{
        top: -4px;
        left: -4px;
    }
    60%{
        top: -4px;
        left: 4px;
    }
    80%{
        top: 4px;
        left: -4px;
    }
    100%{
        top: 0px;
        left: 0px;
    }
}

@keyframes nameMove {
    0%{
        top: 0;   
        left: 0;
    }
    20%{
        top: .5px;
        left: 1.5px;
    }
    40%{
        top: -.5px;
        left: -1.5px;
    }
    60%{
        top: -.5px;
        left: 1.5px;
    }
    80%{
        top: .5px;
        left: -1.5px;
    }
    100%{
        top: 0px;
        left: 0px;
    }
}