$white-color: #ffff;
$primary-color: #000000;
$secondary-color: #0A0A0A;
$tertiary-color: #1F1F1F;
$quaternary-color: #292929;
$quinary-color: #333333;
$senary-color: #3D3D3D;
$title-font: 'Poppins', sans-serif;
$html-color: #f16529;
$css-color: #2965F1;
$js-color: #EFD81D;
$scss-color: #CF649A;
$react-color: #00D8FF;
$git-color: #F03C2E;