@use "../1_base/variables";
@import "../3_modules/modules.scss";

.start{
    padding-top: 98px;
    position: relative;
    height: 90vh;
    background-color: variables.$quinary-color;

    //Formatação de decoração background
    &::before{
        content: "Scroll Down ▼ ";
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: variables.$tertiary-color;
        color: variables.$senary-color;
        width: 100%;
        height: 100%;
        padding-bottom: 4.5vh;
        box-sizing: border-box;
        position: absolute;
        top: 0px;
        z-index: 0;
        clip-path: polygon(50% 0%, 100% 100%, 50% 100%, 0 100%, 0 0);
        transition: all 1s;


        @include tablet{
            clip-path: polygon(100% 0, 100% 27%, 58% 100%, 0 100%, 0 0);
        }

        @include mobiTable{
            clip-path: polygon(100% 0, 100% 27%, 69% 100%, 0 100%, 0 0);
        }

        @include mobile{
            clip-path: polygon(100% 0, 100% 27%, 100% 100%, 0 100%, 0 0);
            padding-bottom: 4vh;
        }
    }

    //Conteúdo dentro da introdução.
    &__info{
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: auto auto;

        @include mobile{
            grid-template-columns: auto;
            place-items: center;
        }
        
        //Título olá.
        &__title{
            font-family: variables.$title-font;
            margin-left: 35px;
            margin-top: 10%;
            height: 150px;
            color: variables.$white-color;
            font-size: 2.4em;
            cursor: default;
            transition: all 1s;

            @include tabDesk{
                font-size: 1.5em;
            }
            
            @include tablet{
                font-size: 1.8em;
            }

            @include mobiTable{
                font-size: 1.8em;
                margin-left: 25px;
            }

            @include mobile{
                font-size: 1.6em;
                margin-left: 15px;
            }

            //Container do efeito glitch
            &__name{
                margin-bottom: 30px;
                position: relative;
                height: 65px;
                
    
                @include mobiTable{
                    margin-bottom: .5em;
                }
    
                @include mobile{
                    margin-bottom: .3em;
                }
                
                //Nome aqui
                // Duas animações, uma para a palavra e outro para as com efeito glitch.
                &__glitch{
                    font-size: 2em;
                    position: absolute;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    animation: nameMove .3s linear 2s 5 normal none;
                    
                    // Load Ani 
                    &::before, &::after{
                        content: "LEVI";
                        position: absolute;
                        top: 0;
                        left: 0;
                        animation: bug .3s linear 2s 5 normal none;
                    }

                    // Cor e propriedades para animação glitch.
                    &::before{
                        color: #e91e63;
                        z-index: -2;
                        animation-direction: normal;
                    }

                    &::after{
                        color: #2196f3;
                        z-index: -1 ;
                        animation-direction: reverse;
                    }
                    
                    //Ani hover
                    &:hover{
                        animation: nameMove .3s linear 2s infinite normal none;
                    }
                    
                    &:hover::before{
                        color: #e91e63;
                        z-index: -2;
                        animation: bug .3s linear 2s infinite normal none;
                    }
                    
                    &:hover::after{
                        color: #2196f3;
                        z-index: -1 ;
                        animation: bug .3s linear 2s infinite reverse none;
                    }
                }
            }
        }
        
        &__icon{
            color: variables.$tertiary-color;
            text-align: right;
            font-size: 13em;
            margin: 35px 35px 0px 0px;
            transition: all 1s;

            @include tabDesk{
                font-size: 10em;
                margin: 15px 15px 0px 0px;
            }
            
            @include tablet{
                font-size: 7em;
                margin-top: 285px;
            }

            @include mobiTable{
                font-size: 5em;
                margin-top: 320px;
                margin-right: 5px;
            }

            @include mobile{
                margin-top: 15vh;
                color: white;
            }
        }
        
        
        
    }

    
}
    
