@use "../1_base/variables";
@use "../1_base/title";
@import "../3_modules/modules.scss";

.about{
    border-top: 1px solid variables.$senary-color;
    background-color: variables.$tertiary-color;
    padding: 35px 0;

    &__title{
        @extend %base-title-style;
    }

    &__text{
        color: variables.$white-color;
        text-indent: 5em;
        text-align: justify;
        line-height: 55px;

        p{
            font-size: variables.$text-size;
        }
        
        @include tablet{
            p{
                font-size: variables.$text-size-t;
            }
        }
        
        @include mobiTable{
            padding: 0 25px;
            text-indent: 3em;
            line-height: 2.5em;
            
            p{
                font-size: variables.$text-size-mt;
            }
        }
        
        @include mobile{
            padding: 15px 35px;
            
            p{
                font-size: variables.$text-size-m;
                line-height: 40px;
            }
        }
        
    }
}

