@use "../1_base/variables";
@import "../3_modules/modules.scss";

.projects{
    border-top: 1px solid variables.$senary-color;
    background-color: variables.$quinary-color;

    
    
    &__title{
        font-size: 2em;
        text-align: center;
        font-family: variables.$title-font;
        color: variables.$white-color;
        padding: 75px 0 0 0;
        margin-bottom: 35px;
        transition: all 1s;
        
        
    }

    &__container{

        &__header{
            position: relative;
            background-color: variables.$tertiary-color;

            h5{
                font-weight: bold;
            }
            

            &__icon1{
                position: absolute;
                bottom: 1%;
                left: 50%;
                transform: translate(-50%, 50%);
                font-size: 2.5em;
                z-index: 1;
            }
            
            &::after{
                content: "";
                width: 5em;
                height: 4.3em;
                border-radius: 50%;
                background-color: variables.$tertiary-color;
                position: absolute;
                bottom: 1%;
                left: 50%;
                transform: translate(-50%, 50%);
            }
            
        }

        img{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            height: 13em;
        }

        &__body{
            text-align: justify;
            background-image: url("../../img/repeatBack.png");
            color: white;

            p{
                font-size: 0.9em;
                text-indent: 1em;
            }

            &__buttons{
                background-color: variables.$tertiary-color;
                color: white;
                border: 1px solid variables.$senary-color;
                width: 7em;

                &:hover{
                    background-color: white;
                    color: black;
                    font-weight: bold;
                }
            }
        }

        &__footer{
            background-color: variables.$tertiary-color;
            color: white;
            font-style: italic;
            font-size: 0.9em;
            
        }
        
    }
    
}

//Icons Project - Features
.react__icon{
    color: variables.$react-color;
}
.sass__icon{
    color: variables.$scss-color;
}

//Icons Project - Brand

#gm__icon{
    color: variables.$project_gm_color;
}

.null__icon{
    color: white;
}

